body {
    font-family: Arial, Tahoma;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}

.list {
    font-weight: bold;
}

ol {
    line-height: 200%;
    font-size: 16px;
}
