.head_table {
    table-layout: fixed;
    border: 2px solid white;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.head_table td {
    border: 1px solid black;
    /*padding: 10px;*/
    /*border-left: 1px solid black;*/
    margin-top: 10px;
}
.main_table td {
    border: 1px solid black;
}