h1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
/*p {*/
    /*padding-left: 20px;*/
    /*font-family: Arial, Verdana, sans-serif;*/
/*}*/

body {
    padding-left: 20px;
    font-size: 16px;
}
table {
    border-collapse: collapse;
}
td {
    padding-right: 10px;
}
.radio {
    margin-left: 50px;
}

.nameBlock {
    margin-top: 10px;
}

#form{
    border:0px;
    /*width:150px;*/
    height:50px;
    float:left; }
