h1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
/*p {*/
    /*padding-left: 20px;*/
    /*font-family: Arial, Verdana, sans-serif;*/
/*}*/
#submit {
    text-align: center;
    margin-top: 20px;
}

body {
    padding-left: 20px;
    font-size: 16px;
}
table {
    border-collapse: collapse;
}
td {
    padding-right: 10px;
    vertical-align: top;
}
.radio {
    margin-left: 50px;
}

.nameBlock {
    margin-top: 10px;
}

.main-field {
    color: darkred;
}

#text-field{
    border:0px;
    /*width:150px;*/
    /*height:500px;*/
    float:left;
}
#image{
    float: left;
}
