h1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

p {
    padding-right: 20px;
    font-family: Arial, Verdana, sans-serif;
    text-indent: 20px;
    text-align: justify;
}

#submit {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.regText {
    font-size: 18px;
}

.tab1 {
    border-collapse: collapse;
    border: 1px solid black;
}

.th1 {
    border: 1px solid black;
}

.td1 {
    border: 1px solid black;
}

body {
    padding-left: 20px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
}

td {
    padding-right: 10px;
    vertical-align: top;
}

.quote {
    font-style: italic;
}

.radio {
    margin-left: 50px;
}

.main-field {
    color: darkred;
}

#text-field {
    border: 1px;
    float: left;
}

#image {
    float: left;
}

.java_logo {
    float: left;
    margin: 7px 7px 7px 0;
}

.copyright {
    font-size: 12px;
    color: gray;
}